/* 
- faire le responsive !!!!!!!!!!!!!!!!!! 
- rajouter l'alarme
- rajouter l'alert pour réveil et minuteur 
*/


/* ------------------------------------------------
                    Fonts
--------------------------------------------------- */

@font-face {
    font-family: nav;
    src: url(fonts/PPRightGothic-Light\ copie.otf);
}

@font-face {
    font-family: titre;
    src: url(fonts/PPRightGothic-CompactDark\ copie.otf);
}

@font-face {
    font-family: norm;
    src: url(fonts/PPRightGothic-Medium\ copie.otf);
}

@font-face {
    font-family: time;
    src: url(fonts/PPEiko-Heavy\ copie.otf);
}

@font-face {
    font-family: clock;
    src: url(fonts/Technology.ttf);
}


/* ------------------------------------------------
                    RESET
--------------------------------------------------- */


/* Box sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margin */

body,
h1,
h2,
h3,
h4,
figure,
picture {
    margin: 0;
    padding: 0;
}

html {
    padding: 0;
    margin: 0;
    width: 100%;
    /* overflow-y: hidden; */
}

/* Set up the body */

body {
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Make images easier to work with (si dieu le veut) */

img,
picture {
    max-width: 100%;
    display: block;
}

/* Make forms elements easier to work with */

input,
button,
textarea,
select {
    font: inherit;
}

ul {
    list-style-type: none;
  }

a {
    text-decoration: none;
}

/* Remove animations for those who turned them off (pour ceux qui décident d'enlever les animations dans lur browser : question d'accessiblilité) */

@media (prefers-reduced-motions: reduce){
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



/* ------------------------------------------------
                    INDEX
--------------------------------------------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    font-family: nav;
}

nav a {
    color: black;
}

#main-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#main-section {
    width: 1150px;
    height: 650px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#text-main-section {
    display: flex;
    flex-direction: column;
}

#text-main-section h1 {
    margin-left: 10%;
    font-size: 32px;
    font-family: titre;
}

#text-main-section p {
    padding: 0 50px;
    line-height: 35px;
    text-align: justify;
    color: rgb(98, 98, 98);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid black;
}

#bottom ul {
    display: flex;
    flex-direction: row;
}

#bottom li {
    padding-left: 5%;
    font-size: 20px;
    font-family: norm;
}

#bottom a {
    color: black;
}

#border {
    height: 120px;
    width: 1150px;
    border-right: 2px solid black;
}

footer {
    background-color: black;
    height: 100px;
}

footer img {
    padding-top: 20px;
    margin-left: 85%;
}



/* -----> responsive */
@media (max-width: 820px) {
    #bottom img {
        display: none;
    }

    #top img {
        margin: auto;
    }

    #h1 {
        display: none;
    }
}


@media (min-width: 820px) {

    nav {
        padding-right: 500px;
    }

    #h1 {
        font-size: 100px;
        font-family: time;
        letter-spacing: 10px;
        transform: rotate(90deg);
        position: absolute;
        left: 1000px;
        bottom: 190px;
    }

    #text-main-section {
        padding: 100px 0;
    }

    #top {
        display: flex;
        flex-direction: row;
    }

    #text-main-section p {
        padding: 0 100px;
    }

    #bottom li {
        padding-left: 80px;
        font-size: 25px;
    }

}





/* ------------------------------------------------
                    HORLOGE
--------------------------------------------------- */

#horloge {
    margin: auto;
    font-family: clock;
    font-size: 70px;
}







/* ------------------------------------------------
                    MINUTEUR
--------------------------------------------------- */

#minuteur {
    margin: auto;
    font-family: clock;
}

#minuteur form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#numbersTimer input {
    border: 1px solid black;
    border-radius: 5%;
}

#numbersTimer p {
    padding: 1%; 
    margin: auto;
}

#buttonMinuteur {
    border: 1px solid black;
    border-radius: 6%;
    background-color: transparent;
    margin-top: 5%;
}



/* -----> responsive */

@media (max-width: 820px) {
    #numbersTimer{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 820px) {
    #numbersTimer {
        display: flex;
        flex-direction: row;
        height: 30px;
    }
}


/* ------------------------------------------------
                    REVEIL
--------------------------------------------------- */

#reveil {
    margin: auto;
    font-family: clock;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selectReveil {
    display: flex;
    flex-direction: row;
    height: 30px;
}

#selectReveil select {
    border: 1px solid black;
    border-radius: 5%;
}

#selectReveil p {
    padding: 1%; 
    margin: auto;
}

#reveil textarea {
    margin-top: 5%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5%;
}

#reveil button {
    margin-top: 5%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5%;
}

#listesReveil {
    display: flex;
    flex-direction: row;
}

#tocome {
    width: 300px;
}

#passed {
    width: 300px;
}



/* -----> responsive */

@media (max-width: 820px) {

    #listesReveil {
        display: flex;
        flex-direction: column;
    }

    #tocome {
        border-bottom: 1px solid black;
    }

}

@media (min-width: 820px){

    #tocome {
        border-right: 1px solid black;
    }
    
    #passed {
        border-left: 1px solid black;
    }

}






/* ------------------------------------------------
                    CHRONO
--------------------------------------------------- */

#chrono {
    margin: auto;
    font-family: clock;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#buttonsChrono {
    display: flex;
    flex-direction: row;
}

#chrono button {
    margin-top: 5%;
    margin-right: 5%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5%;
}